* {
    box-sizing: border-box;
    font-family: Roboto;
    background-color: #fefefe;
    /*laut Farschema f2f2f2*/
}

body {
    padding: 0;
    margin: 0;
}

header {
    font-size: 40px;
    color: #343434;
    padding: 15px;
    margin: 0;
}

nav {
    position: sticky;
    top: 0;
    padding: 15px;
    margin: 0;
    box-shadow: #959da533 0px 8px 10px;
    opacity: 1;
}


/*underline effect*/

nav li a::after {
    content: '';
    position: absolute;
    left: 0px;
    bottom: -3px;
    width: 100%;
    height: 2px;
    background-color: #52ab98;
    transform-origin: bottom center;
    transition: transform 0.5s ease;
    transform: scaleX(0);
}

nav a:hover::after {
    transform-origin: bottom center;
    transform: scaleX(1);
}


/*underline effect*/

li {
    display: inline-block;
    list-style: none;
    padding: 10px;
}

h1 {
    font-style: normal;
}

a {
    text-decoration: none;
    color: #52ab98;
    position: relative;
    display: block;
}

footer {
    text-align: center;
    box-shadow: #959da533 0px 8px 24px;
    width: 1024px;
    font-size: 10px;
    margin: 0 auto;
}


/*darken effect*/

footer a:Hover {
    color: #2b6777;
}


/*darken effect*/

hr {
    width: 1024px;
    margin: 0 auto;
    /*@include .page*/
    border-top: 2px;
    color: #c8d8e4;
}

.page {
    box-shadow: #959da533 0px 8px 24px;
    width: 1024px;
    margin: 0 auto;
    padding: 25px 15px;
}

.container {
    position: relative;
    width: 50%;
}

.image {
    width: 244px;
    height: 310px;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.container:hover .image {
    opacity: 0.3;
}

.container:hover .middle {
    opacity: 0.7;
}

.box-container {
    display: inline-block;
}

.box-item {
    border: 2px solid black;
    width: 300px;
    height: 200px;
    border-radius: 25px;
    text-align: center;
    /*background: url(paper.gif);*/
}

div .maps {
    height: 300px;
    width: 100%;
    margin-top: 10px;
}

@font-face {
    font-family: Roboto;
    src: url(./resources/fonts/Roboto-Regular.ttf);
}